%h2.page 
  Úprava položky novinky -  
  = @new.title
= error_messages_for :new 
- form_for @new, :url => {:action => "update", :id => @new}, :html => { :multipart => true } do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Upravit"