%h2.page 
  Přidat novinku
= error_messages_for :article 
- form_for @article, :url => {:action => "create"}, :html => { :multipart => true } do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Přidat novinku"