<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <script src="/javascripts/swfobject.js" type="text/javascript"></script>
  <script type='text/javascript'>
    //<![CDATA[
      var flashvars = {};
      flashvars.testing = "reg";
      var params = {};
      params.menu = "false";
      params.scale = "noscale";
      params.wmode = "opaque";
      params.allowscriptaccess = "always";
      var attributes = {};
      swfobject.embedSWF("RoomPlanner.swf", "flashDiv", "825", "470", "9.0.24", "/images/expressInstall.swf", flashvars, params, attributes);
    //]]>
  </script>

	<title>Planovac</title>
	
</head>

<body>
<div id="flashDiv"></div>

</body>
</html>
