<h1>Editing slogan</h1>

<% form_for(@slogan) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @slogan %> |
<%= link_to 'Back', slogans_path %>
