<h1>Listing unsubscribes</h1>

<table>
  <tr>
  </tr>

<% for unsubscribe in @unsubscribes %>
  <tr>
    <td><%= link_to 'Show', unsubscribe %></td>
    <td><%= link_to 'Edit', edit_unsubscribe_path(unsubscribe) %></td>
    <td><%= link_to 'Destroy', unsubscribe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New unsubscribe', new_unsubscribe_path %>
