%h2.page Výlety
%table
  %tr
    %th Uživatel
    %th Popis
    %th Upravit
    %th Obrázky
  - @travels.each do |travel|
    %tr
      %td= travel.user.full_name
      -#%td= link_to travel.title, edit_admin_travel_path(travel)
      %td= travel.title
      %td= link_to 'Upravit', :controller => 'travels', :action => 'edit', :id => travel
      %td= link_to 'Obrázky', :controller => 'travels', :action => 'photos', :id => travel