!!! Strict
%html{ html_attrs('cs') }
  %head
    %meta{ 'http-equiv' => 'content-type', :content => 'text/html', :charset => 'utf-8' }
    %meta{ 'http-equiv' => 'content-language', :content => 'cs' }
    %meta{ :name => 'author', :content => 'Euro RSCG 4D Prague' }
    %meta{ :name => 'copyright', :content => '2008 Euro RSCG 4D' }
    %meta{ :name => 'description', :content => '...' }
    %meta{ :name => 'keywords', :content => 'eurorscg, eurorscg4d' } 
    %title Dobr치 m치ma | Administrace
    = stylesheet_link_tag 'application'
  %body
    #view
      #content.holder
        %h1 Dobr치 m치ma | Administrace
        - flash.each do |key, msg|
          %div{ :class => key }= msg
        = render :partial => 'layouts/admin_menu'
        = yield